/* -------------- Navigation and Hero selectors -------------- */

header
{   
    background-image: url("../images/site_images/header_portrait2.png");
    background-position: right;
  
    height: auto;

    background-color: #fff0e5;
    position: unset;

    padding-bottom: 3rem;
    position: relative;
}

nav .button{
    margin-left: 3vw;
}

#name
{
    color: #473629;
    
    position: absolute;
    bottom: 0rem;
    right: 2vw;
    
    text-align: left;
    font-family: 'YesevaOne', cursive;
    font-size: 6vw;
}

#about
{
    background-color: #FFCCC1;
    padding: 30px;
    
    border:6px solid #473629;
    border-radius: 40px;

    text-align: left;
}

#contact
{
    width: 50%;
    margin: 0 5vw;
    
    display: flex;
    flex-direction: column;
    place-items: center;
}

#contact button{
    margin-top:2rem;
}

#contact button:hover
{
    text-decoration: underline;
}

/* -------------- mobile queries -------------- */

@media screen and (max-width: 1000px) {
    
    /* -------------- Navigation and Hero selectors -------------- */
    
    header
    {
        background-position: top;
        background-size: 100%;     
    }

    #name
    {
        top: 4rem;
        bottom:unset;
        left: 10vw;
    }
    
    #about
    {
        margin-top: 60%;
        justify-items: center;
        padding: 30px;

        font-size: 30px;
    }
    
    #contact
    {
        width: 90%;
        margin: 0 3vw;
    }
    
    #contact button
    {
        align-self: unset;
    }

}