@font-face {
    font-family: YesevaOne;
    src: url("../fonts/YesevaOne-Regular.ttf");
}

body
{
    background: rgb(255,204,193);
    background: linear-gradient(144deg, rgba(255,204,193,1) 7%, rgba(219,94,95,1) 100%); 

    text-align: center;
    display: grid;
    place-items: center;

    font-family: 'Open Sans Condensed', sans-serif;
    color: #473629;
}

h2
{
    color: #473629;

    font-family: 'YesevaOne', cursive;
    font-size: 35px;
}

h3
{
    color: #473629;

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px; 
}

h4
{
    color: #fffbf6;

    text-transform: capitalize;

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px; 
}

#floatBackground
{
    background-color: #fff0e5;
    box-shadow: 9px 9px 20px #db5e5f;

    width: 90vw;
    position:static;

    margin-top: 50px;
    margin-bottom: 50px;

    border: 10px solid #fffbf6;
    border-radius: 40px;
}

#scrollIcon{
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 3vw; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: 10px solid #fffbf6;
    border-radius: 40px;
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
}

/* -------------- Navigation and Hero selectors -------------- */

header
{   
    margin: 0 auto;
    height: auto;

    background-color: #fff0e5;
    background-image: url("../images/header_portrait2.png");
    max-width: 100vw;

    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;

    padding-bottom: 3rem;
    position: relative;

    border-radius: 30px 30px 0 0;
}

nav
{
    visibility: visible;
    display: flex;
}

.navIcon
{
    position: absolute;
    visibility:hidden;
    cursor: pointer;
}

#navigation
{

    /* ONLY SCROLLS WITHIN FLEX CONTAINER, NO POPUP BACKGROUND */

    position:sticky;
    top:0;
    align-self: flex-start;
    z-index: 99;
}

nav ul
{
    width: 100%;
    background-color: #fffbf6;
    list-style: none;

    padding-top: 1rem;
    padding-bottom: 1rem;

    display: flex;
    justify-content: flex-start;
}

nav li
{
    margin-top: 1.5rem;
    margin-left: 3vw;
}

nav i
{
    margin-top: 1rem;
    margin-left: 15vw;
    color: #473629;
}

nav a
{
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
}

nav a:hover
{
text-decoration-line: underline;
}

.button
{
    background-image: url("../images/button_normal.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    border-color: transparent;
    background-size: contain;
    background-position: bottom;

    display: inline-block;
    width: 233px;
    height: 78px;
    margin-left:3vw;

    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    color: #473629;

    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 30px;
}

#name
{
    color: #473629;

    position: absolute;
    bottom: 0;
    left: 35vw;

    text-align: left;
    font-family: 'YesevaOne', cursive;
    font-size: 8vw;
}

#about
{
    background-color: #FFCCC1;
    padding: 30px;

    border:6px solid #473629;
    border-radius: 40px;
}

#contact
{
    width: 30%;
    margin: 0 5vw;
    
    display: flex;
    flex-direction: column;
    place-items: center;
}

#contact button:hover
{
    text-decoration: underline;
}

/* -------------- footer selectors -------------- */

.footer
{
    background-color: #fff0e5;
    border-radius: 0 0 25px 25px;
    display: flex;
    justify-content:center;
    /* margin-left: 50px;
    margin-right: 50px; */

    color: #473629;
    
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px; 
}

.footer ul
{
    list-style: none;
}

.footer li
{
    display: inline-block;
    margin: 1rem 5vw;
    position: relative;
    text-decoration-line: none;
}

.footer a

{
    text-decoration: none;
}

.footer a:hover

{
    text-decoration-line: underline;
}

.footer i
{
    color: #473629;
}


/* -------------- mobile queries -------------- */

@media screen and (max-width: 1000px) {
    
    h2
    {
        font-size: 35px;
    }
    
    h3
    {
        font-size: 30px; 
    }
    
    h4
    {
        font-size: 30px; 
    }
    
    
    /* -------------- Navigation and Hero selectors -------------- */
    
    header
    {
        height: auto;
        background-size: 100%;
        background-position: top;
    }

    nav
    {
        display: flex;
        /* GET RID OF NAV */

        /* DOES NOT MARK AS HIDDEN IF INITIALLY IN DESKTOP VIEW */
        visibility: hidden;
        
        background-color: #fff0e5;
        border: 10px solid #fffbf6;
        border-radius: 25px;
    }
    
    .navIcon
    {
        visibility: visible;
        right:2%;
        top: 2%;
        width: 20%;
    }
    
    nav ul
    {
        /* OPEN DRAWER */
        width: 100%;
        flex-direction: column;
        place-items: center;
        background-color: unset;
    }

    nav li
    {
        /* OPEN DRAWER */
        margin-top: 4rem;
    }

    nav i
    {
        /* OPEN DRAWER */
        margin-top: 5rem;
        margin-left: 0;
    }

    nav a
    {
        /* OPEN DRAWER */
        letter-spacing: 3px;
        font-size: 30px;
    }
    
    .button
    {
        /* OPEN DRAWER */
        display: inline-block;
        width: 233px;
        height: 78px;
        margin-top: 4rem;

        font-size: 20px;

        letter-spacing: 3px;
        font-size: 30px;
    }
    
    #name
    {
        top: 4rem;
        left: 10vw;
    }
    
    #about
    {
        margin-top: 60%;
        justify-items: center;
        padding: 30px;

        font-size: 30px;
    }
    
    #contact
    {
        /* LEAVES SPACE FOR NAV EVEN WHEN CLOSED */
        width: 90%;
        margin: 0 3vw;
    }
    
    #contact button
    {
        align-self: unset;
    }

    
    /* -------------- footer selectors -------------- */
    

    .footer
    {
        display: flex;
        justify-content:center;

        font-size: 16px;
    }

    .footer li
    {
        visibility: hidden;
    }

    .footer i
    {
        /* MAKE LARGER */
    }

}