@font-face {
    font-family: YesevaOne;
    src: url("../fonts/YesevaOne-Regular.ttf");
}

body
{
    background: rgb(255,204,193);
    background: linear-gradient(144deg, rgba(255,204,193,1) 7%, rgba(219,94,95,1) 100%); 

    text-align: center;
    display: grid;
    place-items: center;

    height: 100vh; /* ONLY USE IF LESS THAN VH */

    font-family: 'Open Sans Condensed', sans-serif;
    color: #473629;
}

h2
{
    color: #473629;

    font-family: 'YesevaOne', cursive;
    font-size: 35px;
}

h3
{
    color: #473629;

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px; 
}

h4
{
    color: #fffbf6;

    text-transform: capitalize;

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px; 
}

#floatBackground
{
    background-color: #fff0e5;
    box-shadow: 9px 9px 20px #db5e5f;

    width: 90%;
    position:static;

    margin-top: 50px;
    margin-bottom: 50px;

    border: 10px solid #fffbf6;
    border-radius: 40px;
}

/* -------------- Navigation and Hero selectors -------------- */

header
{   
    width:100%;
    margin: 0 auto;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;

    
    background-image: url("../images/header_portrait2.png");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    border-radius: 30px 30px 0 0;
}

nav
{
    display: flex;
}

#navigation
{

    /* ONLY SCROLLS WITHIN FLEX CONTAINER, NO POPUP BACKGROUND */

    /* position:sticky;
    top:0;
    align-self: flex-start;
    z-index: 2000;

    background-color: #ffccc1;
    border: 10px solid #fffbf6;
    border-radius: 100px; */
}

nav ul
{
    width: 100%;
    background-color: #fffbf6;
    list-style: none;

    padding-top: 1rem;
    padding-bottom: 1rem;

    display: flex;
    justify-content: flex-start;
}

nav li
{
    margin-top: 1.5rem;
    margin-left: 6rem;
}

nav i
{
    margin-top: 1rem;
    margin-left: 35rem;
    color: #473629;
}

nav a
{
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
}

nav a:hover
{
text-decoration-line: underline;
}

.button
{
    background-image: url("../images/button_normal.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    border-color: transparent;
    background-size: contain;
    background-position: bottom;

    display: inline-block;
    width: 233px;
    height: 78px;
    margin-left:3rem;

    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    color: #473629;

    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 30px;
}

.button :hover
{
    /* TREATS TEXT AS THE HOVER OBJECT, NOT IMAGE */

    /* background-image: url("../images/button_hover.svg");
    background-size: cover; */

}

#name
{
    color: #473629;

    position: absolute;
    top: 16rem;
    left: 46rem;

    text-align: left;
    font-family: 'YesevaOne', cursive;
    font-size: 150px;
}

#about
{
    background-color: #FFCCC1;
    padding: 30px;

    border:6px solid #473629;
    border-radius: 40px;
}

#contact
{
    width: 30%;
    margin: 0rem 5rem;
    
    display: flex;
    flex-direction: column;
    place-content: center;
}

#contact button
{
    align-self: center;
}

#contact button:hover
{
    text-decoration: underline;
}

/* -------------- footer selectors -------------- */

.footer
{
    display: flex;
    justify-content:center;
    /* margin-left: 50px;
    margin-right: 50px; */

    color: #473629;
    
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px; 
}

.footer ul
{
    list-style: none;
}

.footer li
{
    display: inline-block;
    margin: 1rem 5rem;
    position: relative;
    text-decoration-line: none;
}

.footer a

{
    text-decoration: none;
}

.footer a:hover

{
    text-decoration-line: underline;
}

.footer i
{
    color: #473629;
}


/* -------------- mobile queries -------------- */

@media screen and (max-width: 992px) {
    
    h2
    {
        font-size: 35px;
    }
    
    h3
    {
        font-size: 30px; 
    }
    
    h4
    {
        font-size: 30px; 
    }
    
    
    /* -------------- Navigation and Hero selectors -------------- */
    
    header
    {
        height: 100vh;
        background-size: 100%;
        background-position: top;
    }

    nav
    {
        display: flex;
    }
    
    #navigation
    {
    
        /* ONLY SCROLLS WITHIN FLEX CONTAINER, NO POPUP BACKGROUND */
    
        /* position:sticky;
        top:0;
        align-self: flex-start;
        z-index: 2000;
    
        background-color: #ffccc1;
        border: 10px solid #fffbf6;
        border-radius: 100px; */
    }
    
    nav ul
    {
        /* GET RID OF NAV */
        visibility: hidden;

        /* OPEN DRAWER */
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        padding-right: 27rem;
    }
    
    nav li
    {
        /* OPEN DRAWER */
        margin-top: 4rem;
        margin-left: 20rem;
    }
    
    nav i
    {
        /* OPEN DRAWER */
        margin-top: 5rem;
        margin-left: 30rem;
    }
    
    nav a
    {
        /* OPEN DRAWER */
        letter-spacing: 3px;
        font-size: 30px;
    }
    
    
    .button
    {
        /* OPEN DRAWER */
        display: inline-block;
        width: 233px;
        height: 78px;
        margin-top: 4rem;
        margin-left: 20rem;;

        font-size: 20px;

        letter-spacing: 3px;
        font-size: 30px;
    }
    
    
    #name
    {  
        position: absolute;
        top: 2rem;
        left: 5rem;
        
        font-size: 130px;
    }
    
    #about
    {
        place-self: center start;
        /* MAKE SIT AT TOP */
        padding: 30px;

        font-size: 30px;
    }
    
    #contact
    {
        width: 90%;
        margin: 0rem 3rem;
    }
    
    #contact button
    {
        align-self: unset;
    }

    
    /* -------------- footer selectors -------------- */
    

    .footer
    {
        display: flex;
        justify-content:center;

        font-size: 16px;
    }

    .footer li
    {
        visibility: hidden;
    }

    .footer i
    {
        /* MAKE LARGER */
    }

}