@font-face {
    font-family: YesevaOne;
    src: url("../fonts/YesevaOne-Regular.ttf");
}

body
{
    background: rgb(255,204,193);
    background: linear-gradient(144deg, rgba(255,204,193,1) 7%, rgba(219,94,95,1) 100%); 

    text-align: center;
    display: grid;
    place-items: center;

    font-family: 'Open Sans Condensed', sans-serif;
    color: #473629;
}

h2
{
    color: #473629;

    font-family: 'YesevaOne', cursive;
    font-size: 35px;
}

h3
{
    color: #473629;

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px; 
}

h4
{
    color: #fffbf6;

    text-transform: capitalize;

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px; 
}

#floatBackground
{
    background-color: #fff0e5;
    box-shadow: 9px 9px 20px #db5e5f;

    width: 90vw;
    position:static;

    margin-top: 50px;
    margin-bottom: 50px;

    border: 10px solid #fffbf6;
    border-radius: 40px;
}

/* -------------- Navigation and Hero selectors -------------- */

header
{   
    margin: 0 auto;
    height: 700px;

    background-image: url("../images/Header_portrait.png");
    max-width: 100vw;

    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    border-radius: 30px 30px 0 0;
}

nav
{
    visibility: visible;
    display: flex;
}

.navIcon
{
    position: absolute;
    visibility:hidden;
    cursor: pointer;
}

#navigation
{

    /* ONLY SCROLLS WITHIN FLEX CONTAINER, NO POPUP BACKGROUND */

    /* position:sticky;
    top:0;
    align-self: flex-start;
    z-index: 2000;

    background-color: #ffccc1;
    border: 10px solid #fffbf6;
    border-radius: 100px; */
}

nav ul
{
    width:100%;
    background-color: #fffbf6;
    list-style: none;

    padding-top: 1rem;
    padding-bottom: 1rem;

    display: flex;
    justify-content: flex-start;
}

nav li
{
    margin-top: 1.5rem;
    margin-left: 3vw;
}

nav i
{
    margin-top: 1rem;
    margin-left: 15vw;
    color: #473629;
}

nav a
{
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
}

nav a:hover
{
text-decoration-line: underline;
}

.button
{
    background-image: url("../images/button_normal.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    border-color: transparent;
    background-size: contain;
    background-position: bottom;

    display: inline-block;
    width: 233px;
    height: 78px;

    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    color: #473629;

    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 30px;
}

.button :hover
{
    /* TREATS TEXT AS THE HOVER OBJECT, NOT IMAGE */

    /* background-image: url("../images/button_hover.svg");
    background-size: cover; */

}

#name
{
    color: #473629;

    position: absolute;
    top: 2rem;
    left: 5vw;

    text-align: left;
    font-family: 'YesevaOne', cursive;
    font-size: 9vw;
}

#designer
{
    color: #473629;
    opacity: 16%;

    position: absolute;
    top: 22rem;
    left: 10vw;

    letter-spacing: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 8vw;
}

.separator
{
    background-color: #fffbf6;
    text-align: center;
    
    display: flex;
    place-content: center;
    width: 100%;
}

/* -------------- leftProjectPreview selectors -------------- */

.leftProjectPreview
{
    position: relative;
}

.backgroundContent
{
    display: flex;
    justify-content: space-between;
}

.leftProjectPreview img
{
    max-width: 737px;
    max-height: 431px;
}

.leftProjectPreview article
{
    background-color: #ffccc1;

    text-align: left;
    display: inline-block;
    width: 300px;

    position: absolute;
    top: 150px;
    right: 40vw;

    border: 5px solid #fffbf6;
    border-radius: 40px;
}

.leftProjectPreview article p
{
    margin: 20px;
}

.leftProjectPreview article h3
{
    margin: -5px 15px;
}

.leftProjectPreview article h4
{
    margin: 0px 30px;
}

#leftBox
{
    /* background-color: red; */
    margin-right: 8vw;
    margin-top: 2rem;
    text-align: left;
}

#leftBox a
{
    text-decoration: none;
}

#leftBox a:hover
{
    text-decoration-line: underline;
}

.leftProjectPreview button
{
    margin-top: 3rem;
}

/* -------------- rightProjectPreview selectors -------------- */

.rightProjectPreview
{
    background-color: #ffe5df;
    position: relative;
}

.rightProjectPreview img
{
    max-width: 737px;
    max-height: 431px;
}

.rightProjectPreview article
{
    background-color: #ffccc1;

    text-align: left;
    display: inline-block;
    width: 300px;

    position: absolute;
    top: 150px;
    left: 40vw;

    border: 5px solid #fffbf6;
    border-radius: 40px;
}

.rightProjectPreview article p
{
    margin: 20px;
}

.rightProjectPreview article h3
{
    margin: -5px 15px;
}

.rightProjectPreview article h4
{
    margin: 0px 30px;
}

#rightBox
{
    margin-left: 8vw;
    margin-top: 2rem;
    text-align: left;
}

#rightBox a
{
    text-decoration: none;
}

#rightBox a:hover
{
    text-decoration-line: underline;
}

.rightProjectPreview button
{
    margin-top: 3rem;
}

/* -------------- carousel selectors -------------- */
#carousel
{
    position: relative;
}

#items
{
    display:flex;
    justify-content:space-around;
    margin: 25px;
}

.item
{
    text-align: center;
    
    color: #fffbf6;
    font-size: 30px;

    padding-top: 25px;
}

.sp0
{
    min-height: 250px;
    width: 437px;
    margin: 5px;

    text-shadow: 2px 2px #473629;
    cursor: pointer;

    background-image: linear-gradient(rgba(219, 94, 95, 1), rgba(255, 204, 193, 0.3)), 
    url("../images/icons.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sp1
{
    min-height: 250px;
    width: 437px;
    margin: 5px;

    text-shadow: 2px 2px #473629;
    cursor: pointer;

    background-image: linear-gradient(rgba(219, 94, 95, 1), rgba(255, 204, 193, 0.3)), 
    url("../images/Witcher_testScene.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sp2
{
    min-height: 250px;
    width: 437px;
    margin: 5px;

    text-shadow: 2px 2px #473629;
    cursor: pointer;

    background-image: linear-gradient(rgba(219, 94, 95, 1), rgba(255, 204, 193, 0.3)),  
    url("../images/pepsi\ horror_splash.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.sp3
{
    min-height: 250px;
    width: 437px;
    margin: 5px;

    text-shadow: 2px 2px #473629;
    cursor: pointer;

    background-image: linear-gradient(rgba(219, 94, 95, 1), rgba(255, 204, 193, 0.3)),  
    url("../images/change\ management.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sp0:hover
{
    background-image: url("../images/icons.png");
    color: transparent;
    text-shadow: 2px 2px transparent;
}

.sp1:hover
{
    background-image: url("../images/Witcher_testScene.png");
    color: transparent;
    text-shadow: 2px 2px transparent;
}

.sp2:hover
{
    background-image: url("../images/pepsi\ horror_splash.png");
    color: transparent;
    text-shadow: 2px 2px transparent;
}

.sp3:hover
{
    background-image: url("../images/change\ management.png");
    color: transparent;
    text-shadow: 2px 2px transparent;
}

/* -------------- footer selectors -------------- */

.footer
{
    display: flex;
    justify-content:center;

    color: #473629;
    
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px; 
}

.footer ul
{
    list-style: none;
}

.footer li
{
    display: inline-block;
    margin: 1rem 5vw;
    position: relative;
    text-decoration-line: none;
}

.footer a

{
    text-decoration: none;
}

.footer a:hover

{
    text-decoration-line: underline;
}

.footer i
{
    color: #473629;
}