body
{
    background-image: linear-gradient(to bottom right,#ffccc1, #db5e5f);
    
    text-align: center;
    display: grid;
    place-items: center;
    
    min-height: 100vh;
    
    font-family: 'Open Sans Condensed', sans-serif;
    color: #473629;
}

h2
{
    color: #473629;

    font-family: 'Lemon', cursive;
    font-size: 35px;
}

h3
{
    color: #473629;

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px; 
}

h4
{
    color: #fffbf6;

    text-transform: capitalize;

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px; 
}

#floatBackground
{
    background-color: #fff0e5;
    box-shadow: 
    9px 9px 20px #db5e5f;

    width: 90%;
    position: absolute;
    top: 50px;

    border: 10px solid #fffbf6;
    border-radius: 40px;
}

nav
{
    display: flex;
    align-items: flex-start;
 /* float: left;  */
 /* margin-left: 50px;  */
    position: sticky; /*does't work with flex?*/
    /* top: 0px; */
}

header
{   
    width:100%;
    margin: 0 auto;
    height: 700px; /* TODO:replace this*/
    
    background-color: tomato;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)), 
    url("../images/Header_portrait.png");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 30px 30px 0 0;
}

.hero
{
    align-content: stretch;
}

nav ul
{
    margin-left: 5rem;
    padding: 0;
    list-style: none;
}

nav li
{
    display: inline-block;
    margin: 2rem 3rem;
    /* padding: 25px; */
    position: relative;
}

nav a
{
    letter-spacing: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
}

nav a:hover
{
text-decoration-line: underline;
}

button
{
    background-color: pink;

    display: inline-block;
    width: 200px;
    height: 70px;

    border: 5px solid #473629;
    border-radius: 100px;

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    color: #473629;
}

button :hover
{
    background-color: #ffe5df;
    border-color: #473629;
}

#name
{
    color: #473629;

    position: absolute;
    top: 0;
    left: 5rem;

    text-align: left;
    font-family: 'Lemon', cursive;
    font-size: 120px;
}

#designer
{
    color: #473629;
    opacity: 16%;

    position: absolute;
    top: 30rem;
    left: 5rem;

    letter-spacing: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 80px;
}

.separator
{
    background-color: #ffe5df;
    text-align: center;
    vertical-align: middle;

    display: flex;
    align-content: flex-start;
    justify-content: center;
    width: 100%;
}

/* -------------- leftProjectPreview selectors -------------- */

.leftProjectPreview
{
    position: relative;
}

.backgroundContent
{
    display: flex;
    justify-content: space-between;
}

.leftProjectPreview img
{
    max-width: 737px;
    max-height: 431px;
}

.leftProjectPreview article
{
    background-color: #ffccc1;

    text-align: left;
    display: inline-block;
    width: 300px;

    position: absolute;
    top: 150px;
    right: 450px;

    border: 5px solid #fffbf6;
    border-radius: 40px;
}

.leftProjectPreview article p
{
    margin: 20px;
    word-wrap: break-word;
}

.leftProjectPreview article h3
{
    margin: -5px 15px;
}

.leftProjectPreview article h4
{
    margin: 0px 30px;
}

#leftBox
{
    margin-right: 3rem;
    margin-top: 2rem;
    text-align: left;
}

.leftProjectPreview button
{
    margin-top: 3rem;
}

/* -------------- rightProjectPreview selectors -------------- */

.rightProjectPreview
{
    background-color: #ffe5df;
    position: relative;
}

.rightProjectPreview img
{
    max-width: 737px;
    max-height: 431px;
}

.rightProjectPreview article
{
    background-color: #ffccc1;

    text-align: left;
    display: inline-block;
    width: 300px;

    position: absolute;
    top: 150px;
    left: 450px;

    border: 5px solid #fffbf6;
    border-radius: 40px;
}

.rightProjectPreview article p
{
    margin: 20px;
    word-wrap: break-word;
}

.rightProjectPreview article h3
{
    margin: -5px 15px;
}

.rightProjectPreview article h4
{
    margin: 0px 30px;
}

#rightBox
{
    margin-left: 3rem;
    margin-top: 2rem;
    text-align: left;
}

.rightProjectPreview button
{
    margin-top: 3rem;
}