/* -------------- Navigation and Hero selectors -------------- */

header
{   
    background-image: url("../images/site_images/Header_portrait.png");
    background-position: right;
}

#name
{
    color: #473629;

    position: absolute;
    top: 8rem;
    left: 5vw;

    text-align: left;
    font-family: 'YesevaOne', cursive;
    font-size: 8vw;
}

#designer
{
    color: #473629;
    opacity: 10%;

    position: absolute;
    bottom: 1rem;
    left: 10vw;

    letter-spacing: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 6vw;
}

/* -------------- projectPreview selectors -------------- */

.projectPreview
{
    position: relative;
}

.backgroundContent
{
    display: grid;
    grid-template-columns: auto;
}

.left
{
    grid-template-areas: 
    "desc desc"
    "image details";
}

.right{
    background-color: #ffe5df;
    grid-template-areas: 
    "desc desc"
    "details image";
}

.projectPreview img
{
    grid-area: image;
    max-height: 500px;
    margin-bottom: 30px;
}

.projectPreview article
{
    grid-area: desc;
    background-color: #ffccc1;

    text-align: left;
    display: inline-block;
    width: 70%;
    margin: 30px auto;

    border: 5px solid #fffbf6;
    border-radius: 40px;
}

.projectPreview article p
{
    margin: 20px 50px;
    transform: translate(0, -20px);
}

.projectPreview article h3
{
    transform: translate(0, -20px);
    margin: -5px 40px;
    text-align: center;
}

.projectPreview article h4
{
    text-align: right;
    margin: 0px 30px;
}

#textBox
{
    grid-area: details;
    margin:2rem 5vw;
}

#textBox li, #textBox p
{
    text-align: left;
}

#textBox a
{
    text-decoration: none;
}

#textBox a:hover
{
    text-decoration-line: underline;
}

.projectPreview button
{
    margin-top: 3rem;
}

/* -------------- carousel selectors -------------- */
#sideProjects
{
    position: relative;
    padding-bottom: 50px;
}

#items
{
    display:flex;
    justify-content:space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.item
{
    text-align: center;
    
    color: #fffbf6;
    font-size: 30px;

    max-height: 350px;
    width: 25%;
    margin: 50px 5px;
    
    text-shadow: 2px 2px #473629;
    cursor: pointer;
    
    background-image: linear-gradient(rgba(219, 94, 95, 1), rgba(255, 204, 193, 0));
}

.item img{
    width: 100%;
    height:100%;
    object-fit: cover;
    opacity: 50%;
    transition: all .2s ease-in-out; 
    
}

.item img:hover{
    opacity: 100%;
    object-fit:scale-down;
    transform: scale(1.2); 
}

.item:hover
{
    color: #473629;
    text-shadow: 2px 2px transparent;
    background-image: unset;

}

/* -------------- mobile queries -------------- */

@media screen and (max-width: 1000px) {


    /* -------------- leftProjectPreview selectors -------------- */
    
    .backgroundContent
    {
        grid-template-columns: unset;
        grid-template-rows: auto;
    }
    
    .left{
        grid-template-areas: 
        "desc"
        "image"
        "details";
        padding-bottom: 30px; 
    }
    
    .right{
        grid-template-areas: 
        "desc"
        "image"
        "details";
        padding-bottom: 30px; 
    }
    
    .projectPreview img
    {
        max-width: 90%;
        max-height: unset;
        margin: 0 auto;
    }
    
    .projectPreview article
    {
        width: 80%;
        
        position:unset;
        margin: 30px auto;
    }

    .projectPreview article h3
    {
        text-align: left;
        transform: unset;
        margin-bottom: 2px;;
    }
        
    #textBox
    {
        margin: 0 auto;
    }

    /* -------------- carousel selectors -------------- */

    #items
    {
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .item
    {
        max-height: 350px;
        width: 75%;
        margin: 50px auto;
    }
    
}