body
{
    background-image: linear-gradient(to bottom right,#ffccc1, #db5e5f);
    
    text-align: center;
    display: grid;
    place-items: center;
    
    min-height: 100vh;
    
    font-family: 'Open Sans Condensed', sans-serif;
    color: #473629;
}

h2
{
    color: #473629;

    padding: 10px;

    font-family: 'Lemon', cursive;
    font-size: 35px;
}

h3
{
    color: #473629;

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px; 
}

h4
{
    color: #ffe5df;

    text-transform: capitalize;

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px; 
}

#floatBackground
{
    background-color: peachpuff;
    box-shadow: 
    9px 9px 20px #db5e5f;

    width: 90%;
    position: absolute;
    top: 50px;

    border: 10px solid #ffe5df;
    border-radius: 40px;
}

nav
{
 float: left; 
 margin-left: 50px; 
 position: sticky; 
 top: 0px;
}

header
{   
    width:100%;
    margin: 0 auto;
    height: 700px;
    
    background-color: tomato;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)), 
    url("../images/flower.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 30px 30px 0 0;
}

.hero
{
    
    align-content: stretch;
}

nav ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li
{
    display: inline-block;
    margin: 20px 100px;
    padding: 25px;
    position: relative;
}

nav a
{
    letter-spacing: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
}

nav a:hover
{
text-decoration-line: underline;
}

button
{
    background-color: pink;

    display: inline-block;
    width: 200px;
    height: 70px;

    border: 5px solid #473629;
    border-radius: 100px;

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    color: #473629;
}

button :hover
{
    background-color: #ffe5df;
    border-color: #473629;
}

#name
{
    color: #473629;

    position: absolute;
    bottom: 30px;
    left: 50px;

    text-align: left;
    font-family: 'Lemon', cursive;
    font-size: 150px;
}

#designer
{
    color: #473629;
    opacity: 16%;

    position: absolute;
    top: 450px;
    left: 200px;

    letter-spacing: 50px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 100px;
}

.separator
{
    background-color: #ffe5df;
    text-align: center;
    vertical-align: middle;

    /* position: relative; */ /*can't use this or else the floatingBG ignores the element */
    width: 100%;
    height: 60px;
}

/* leftProjectPreview selectors */

.leftProjectPreview
{
    position: relative;
    /* top: 180px; */
}

.leftProjectPreview img
{
    float: left;
    size: 750px 300px;
}

.leftProjectPreview article
{
    background-color: pink;

    text-align: left;
    display: inline-block;
    height: 180px;
    width: 350px;

    position: relative;
    top: 150px;
    right: 200px;

    border: 5px solid #ffe5df;
    border-radius: 40px;
}

.leftProjectPreview article p
{
    margin: 20px;
    word-wrap: break-word;
}

.leftProjectPreview article h3
{
    margin: -5px 15px;
}

.leftProjectPreview article h4
{
    margin: 0px 30px;
}

.leftProjectPreview div
{
    text-align: left;
    display: inline-block;
    

    position: relative;
    top: 100px;
    right: 100px;
}

.leftProjectPreview button
{
    position: relative;
    top: 150px;
    left: 100px;
}

/* rightProjectPreview selectors */

.rightProjectPreview
{
    background-color: pink;
    position: relative;
    top: 180px;
}

.rightProjectPreview img
{
    float: right;

    size: 750px 300px;
}

.rightProjectPreview article
{
    background-color: pink;

    text-align: left;
    display: inline-block;
    height: 180px;
    width: 350px;

    position: relative;
    bottom: 150px;
    left: 500px;

    border: 5px solid #ffe5df;
    border-radius: 40px;
}

.rightProjectPreview article p
{
    margin: 20px;
    word-wrap: break-word;
}

.rightProjectPreview article h3
{
    margin: -5px 15px;
}

.rightProjectPreview article h4
{
    margin: 0px 30px;
}

.rightProjectPreview div
{
    text-align: left;
    display: inline-block;
    

    position: relative;
    bottom: 100px;
    right: 300px;
}

.rightProjectPreview button
{
    position: relative;
    bottom: 50px;
    right: 100px;
}