/* -------------- Navigation and Hero selectors -------------- */

header
{   
    background-image: url("../images/site_images/header_portrait4.png");
    background-position: top;
    background-size:cover;
  
    height: auto;

    background-color: #fff0e5;
    position: unset;

    padding-bottom: 3rem;
}

nav .button{
    margin-left: 3vw;
}

iframe{
    position:relative;
    margin-right: 20vw;
    margin-top: 50px;
    width: 1000px;
    height: 1300px;
}

/* -------------- mobile queries -------------- */

@media screen and (max-width: 1000px) {
    
    /* -------------- Navigation and Hero selectors -------------- */
    
    header
    {
        background-image: url("/images/site_images/header_portrait3.png");
        background-position: top;
        background-size: 100%;     
    }

    iframe{
        margin-right: unset;
        margin-top: 200px;
        width: 90%;
        height: 500px;
    }

}