@font-face {
    font-family: YesevaOne;
    src: url("../fonts/YesevaOne-Regular.ttf");
}

body
{
    background-image: linear-gradient(to bottom right,#ffccc1, #db5e5f);
    background-attachment: fixed;
    
    text-align: center;
    display: grid;
    place-items: center;
    
    min-height: 100vh;
    
    font-family: 'Open Sans Condensed', sans-serif;
    color: #473629;
}

h2
{
    color: #473629;

    font-family: 'YesevaOne', cursive;
    font-size: 35px;
}

h3
{
    color: #473629;

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px; 
}

h4
{
    color: #fffbf6;

    text-transform: capitalize;

    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px; 
}

#floatBackground
{
    background-color: #fff0e5;
    box-shadow: 9px 9px 20px #db5e5f;

    width: 90%;
    position:static;

    margin-top: 50px;
    margin-bottom: 50px;

    border: 10px solid #fffbf6;
    border-radius: 40px;
}

/* -------------- Navigation and Hero selectors -------------- */

header
{   
    width:100%;
    margin: 0 auto;
    height: 700px; /* TODO:replace this*/
    
    background-image: url("../images/Header_portrait.png");
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    border-radius: 30px 30px 0 0;
}

nav
{
    display: flex;
}

#navigation
{

    /* ONLY SCROLLS WITHIN FLEX CONTAINER, NO POPUP BACKGROUND */

    /* position:sticky;
    top:0;
    align-self: flex-start;
    z-index: 2000;

    background-color: #ffccc1;
    border: 10px solid #fffbf6;
    border-radius: 100px; */
}

nav ul
{
    width: 88%;
    margin-left: 5rem;
    list-style: none;

    display: flex;
    justify-content: flex-start;
}

nav li
{
    margin-top: 1.5rem;
    margin-left: 6rem;
}

nav i
{
    margin-top: 1rem;
    margin-left: 35rem;
    color: #473629;
}

nav a
{
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
}

nav a:hover
{
text-decoration-line: underline;
}

.button
{
    background-image: url("../images/button_normal.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    border-color: transparent;
    background-size: contain;
    background-position: bottom;

    display: inline-block;
    width: 233px;
    height: 78px;

    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    color: #473629;

    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 30px;
}

.button :hover
{
    /* TREATS TEXT AS THE HOVER OBJECT, NOT IMAGE */

    /* background-image: url("../images/button_hover.svg");
    background-size: cover; */

}

#name
{
    color: #473629;

    position: absolute;
    top: 2rem;
    left: 10rem;

    text-align: left;
    font-family: 'YesevaOne', cursive;
    font-size: 150px;
}

#designer
{
    color: #473629;
    opacity: 16%;

    position: absolute;
    top: 25rem;
    left: 15rem;

    letter-spacing: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 150px;
}

.separator
{
    background-color: #fffbf6;
    text-align: center;
    vertical-align: middle;

    display: flex;
    align-content: flex-start;
    justify-content: center;
    width: 100%;
}

/* -------------- Overview selectors -------------- */

#overview
{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 50px;
}


#leftBox
{
    text-align: left;
    margin: 2em 5em;
    list-style: none;
}


#specs
{
    margin-left: 20rem;
}

#tools
{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tools img
{
    max-width: 100px;
    max-height: 100px;
    padding: 0.5rem;    
}

.download
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.download button:hover
{
    text-decoration-line: underline;
}

#rightBox
{
    margin: 2em 0em;
}

#preview
{
    max-width: 80%;
} 

#rightBox ul
{
    text-align: left;
    margin-left: 4rem;
}

/* -------------- Phase selectors -------------- */

.phase
{
    padding: 5rem;
}

.section
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5% 95%;
    grid-template-areas: 
    "header image"
    "text image";
    margin: 2rem;
}

.image{
    grid-area:image;
    max-width: 80%;
    max-height: 500px;
    margin-left: 13vh;
    padding: 3rem;
}

.header
{
    grid-area: header;
    text-align: left;
    margin-left: 3rem;
}

.text
{
    grid-area: text;
    margin: 0rem 3rem;
    text-align: left;
}

#results
{
    margin: 0rem 5rem;
}

#results img
{
    max-height: 800px;
}

#results p
{
    text-align: left;
}

#results button:hover
{
    text-decoration-line: underline;
}

#postMortem 
{
    margin: 0rem 5rem;
    text-align: left;
}

/* -------------- footer selectors -------------- */

.footer
{
    display: flex;
    justify-content:center;
    /* margin-left: 50px;
    margin-right: 50px; */

    color: #473629;
    
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px; 
}

.footer ul
{
    list-style: none;
}

.footer li
{
    display: inline-block;
    margin: 1rem 5rem;
    position: relative;
    text-decoration-line: none;
}

.footer a

{
    text-decoration: none;
}

.footer a:hover

{
    text-decoration-line: underline;
}

.footer i
{
    color: #473629;
}
