/* -------------- Navigation and Hero selectors -------------- */

header
{
    background-position: center 0px;
}

nav ul{
    margin-top: 1rem;
}

nav .button{
    margin-left: 3vw;
}

.flex-column{
    justify-self: flex-start;
    position:fixed;
    top: 10rem;
    margin-left: 2vw;

    background-color: #fff0e5;
    border: 10px solid #fffbf6;
    border-radius: 40px;

    z-index: 99;
    
    display: none;
}

.flex-column li, .flex-column a{
    text-align: left;
    text-decoration: none;
}

.flex-column li:hover, .flex-column a:hover{
    text-decoration: underline;
} 

/* -------------- Overview selectors -------------- */

#overview
{
    display: grid;
    grid-template-columns: 55% 45%;
}


#leftBox
{
    text-align: left;
    margin: 2em 2vw;
    list-style: none;
}

#overview li{
    margin-right: 10%;
}

#specs
{
    margin-left: 10vw;
}

#tools
{
    padding: 2rem;
    display: flex;
    place-content: center;
}

#tools img
{
    max-width: 100px;
    max-height: 100px;
    padding: 0.5rem;
}

.download
{
    display: flex;
    place-content: center;
}

.download button:hover
{
    text-decoration-line: underline;
}

#rightBox
{
    margin: 2em 0em;
}

#preview
{
    max-width: 80%;
    max-height: 500px;
    transition: all .2s ease-in-out; 
}

#preview:hover{
    transform: scale(2.0) translate(-6vw, 0); 
}

#rightBox ul
{
    text-align: left;
    margin-left: 4vw;
    margin-top: 20px;
}

.pink{
    background-color: #ffe5df;
}

/* -------------- Phase selectors -------------- */

.phase
{
    padding: 5rem;
}

.section
{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas:
    "0 image"
    "header image"
    "text image"
    "1 image";
    margin: 2rem;
}

.image{
    grid-area:image;
    max-width: 80%;
    margin-left: 8vw;
    padding: 3rem;

    transition: all .2s ease-in-out; 
}

.image:hover{
    transform: scale(1.5); 
}

.row{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.row video{
    max-width: 50%;
    padding: 3rem;

    transition: all .2s ease-in-out; 
}

.row video:hover{
    transform: scale(1.5); 
}


.header
{
    grid-area: header;
    text-align: left;
    margin-left: 3vw;
}

.text
{
    grid-area: text;
    margin: 0rem 3vw;
    text-align: left;
}


#results img
{
    max-height: 800px;
    margin-bottom: 20px;
}

#results p
{
    margin: 0rem 5vw;
    text-align: left;
}
#results button
{
    margin-top: 30px;
}

#results button:hover
{
    text-decoration-line: underline;
}

#postMortem
{
    margin: 0rem 5vw;
    text-align: left;
}

#results ul{
    width: 60%;
    margin: 0 auto;
    text-align: left;
    margin-top: 20px;
}

#results li{
    margin-top: 20px;
}

/* -------------- mobile queries -------------- */

@media screen and (max-width: 1000px) {

    .flex-column{
        width: 100%;
        justify-self: center;
        position:fixed;
        top: unset;
        bottom: 0px;
        margin-left: unset;
        
        z-index: 97;
        border-radius: 40px 40px 0 0;
        display:unset;
    }

    #scrollIcon{
        bottom: 120px; 
    }

    .nav-item{
        display: inline-block;
        margin: unset;
    }

    nav .button{
        margin-left: unset;
    }
    /* -------------- Overview selectors -------------- */

    #overview
    {
        display: block;
    }


    #leftBox
    {
        margin: 0;
    }


    #specs
    {
        margin: 0;
        padding: 2rem;
    }

    #tools
    {
        flex-flow: wrap;
        padding: 1rem;
    }

    #tools img
    {
        max-width: 150px;
        max-height: 150px;
    }

    .download
    {
        place-self: center;
    }

    #rightBox
    {
        margin: 0em;
        padding:2rem;
    }

    #preview
    {
        max-width: 100%;
    }

    #rightBox ul
    {
        text-align: left;
        margin-left: 6vw;
    }

    /* -------------- Phase selectors -------------- */

    .phase
    {
        padding: 0;
    }

    .section
    {
        display: grid;
        grid-template-columns: unset;
        grid-template-rows: unset;
        grid-template-areas:
        "header"
        "image"
        "text";
        margin: 2rem;
        padding-bottom: 2rem;
    }

    .image{
        max-width: 100%;
        max-height: unset;
        margin-left: 0vw;
        justify-self: center;
    }

    .header
    {
        margin-left: 5vw;
    }

    .text
    {
        margin: 2rem 5vw;
    }

    #results
    {
        margin: 0 5vw;
        padding-bottom: 5rem;
    }

    #results img
    {
        max-height: unset;
        width: 100%;
        justify-self: center;
    }
    
}
