/* -------------- Navigation and Hero selectors -------------- */

header
{
    background-image: url("../images/projects/Nyaa-kuza/menuBG.png");
    background-position: center;
}

nav .button{
    margin-left: 3vw;
}

/* -------------- Overview selectors -------------- */

#overview
{
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 50px;
}


#leftBox
{
    text-align: left;
    margin: 2em 2vw;
    list-style: none;
}

li{
    margin-right: 10%;
}

#specs
{
    margin-left: 15vw;
}

#tools
{
    padding: 2rem;
    display: flex;
    place-content: center;
}

#tools img
{
    max-width: 100px;
    max-height: 100px;
    padding: 0.5rem;
}

.download
{
    display: flex;
    place-content: center;
}

.download button:hover
{
    text-decoration-line: underline;
}

#rightBox
{
    margin: 2em 0em;
}

#preview
{
    max-width: 80%;
}

#rightBox ul
{
    text-align: left;
    margin-left: 4vw;
}

.pink{
    background-color: #ffe5df;
}

/* -------------- Phase selectors -------------- */

.phase
{
    padding: 5rem;
}

.section
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5% 95%;
    grid-template-areas:
    "header image"
    "text image";
    margin: 2rem;
}

.image{
    grid-area:image;
    max-width: 80%;
    max-height: 500px;
    margin-left: 8vw;
    padding: 3rem;
}

.header
{
    grid-area: header;
    text-align: left;
    margin-left: 3vw;
}

.text
{
    grid-area: text;
    margin: 0rem 3vw;
    text-align: left;
}


#results img
{
    max-height: 800px;
}

#results p
{
    margin: 0rem 5vw;
    text-align: left;
}
#results button
{
    margin-top: 30px;
}

#results button:hover
{
    text-decoration-line: underline;
}

#postMortem
{
    margin: 0rem 5vw;
    text-align: left;
}

/* -------------- mobile queries -------------- */

@media screen and (max-width: 1000px) {

    /* -------------- Overview selectors -------------- */

    #overview
    {
        display: block;
    }


    #leftBox
    {
        margin: 0;
    }


    #specs
    {
        margin: 0;
        padding: 2rem;
    }

    #tools
    {
        flex-flow: wrap;
        padding: 1rem;
    }

    #tools img
    {
        max-width: 150px;
        max-height: 150px;
    }

    .download
    {
        place-self: center;
    }

    #rightBox
    {
        margin: 0em;
        padding:2rem;
    }

    #preview
    {
        max-width: 100%;
    }

    #rightBox ul
    {
        text-align: left;
        margin-left: 6vw;
    }

    /* -------------- Phase selectors -------------- */

    .phase
    {
        padding: 0;
    }

    .section
    {
        display: grid;
        grid-template-columns: unset;
        grid-template-rows: unset;
        grid-template-areas:
        "header"
        "image"
        "text";
        margin: 2rem;
        padding-bottom: 2rem;
    }

    .image{
        max-width: 100%;
        max-height: unset;
        margin-left: 0vw;
        justify-self: center;
    }

    .header
    {
        margin-left: 5vw;
    }

    .text
    {
        margin: 2rem 5vw;
    }

    #results
    {
        margin: 0 5vw;
        padding-bottom: 5rem;
    }

    #results img
    {
        max-height: unset;
        width: 100%;
        justify-self: center;
    }
    
}
